{% extends "base.html" %}
{% block content %}
<article class="container" id="bio">
  <div class="row-fluid">
    <div class="span3 text-center">
      <span class="me image image-full"><img src="/theme/img/me.jpg" alt="" /></span>
    </div>
    <div class="span9">
      <header>
        <h1>Ol&aacute;! Me chamo <strong>{{ author }}</strong>.</h1>
      </header>
      <p>Analista e programador de sistemas.</p>        <p>Analista e programador de sistemas.</p>

      <!-- Social links -->
      <ul class="social">
        <li class="twitter"><a href="http://twitter.com/fabioluciano" class="icon icon-twitter"><span>Twitter</span></a></li>
        <li class="facebook"><a href="http://fb.me/fabioluciano" class="icon icon-facebook"><span>Facebook</span></a></li>
        <li class="linkedin"><a href="http://br.linkedin.com/in/fabioluciano/" class="icon icon-linkedin"><span>LinkedIn</span></a></li>
        <li class="googleplus"><a href="https://plus.google.com/u/1/111862830918675284771/posts" class="icon icon-google-plus"><span>Google+</span></a></li>
        <li class="github"><a href="http://github.com/fabioluciano" class="icon icon-github"><span>Github</span></a></li>
        <li class="rss"><a href="#" class="icon icon-rss"><span>RSS</span></a></li>
        <li class="instagram"><a href="#" class="icon icon-instagram"><span>Instagram</span></a></li>
        <li class="skype"><a href="#" class="icon icon-skype"><span>Skype</span></a></li>
      </ul>
    </div>
  </div>
</article>

<article class="container" id="work">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="text-center">Analista, Programador e Administrador de servidores</h1>
      <h2  class="text-center">nd this is Miniport, a free, fully responsive HTML5 site template designed by</h2>
      <div class="row-fluid">
        <div class="span4">
          <section class="box">
            <span class="icon featured-icon icon-comments-alt"></span>
            <h3>Consequat lorem</h3>
            <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
          </section>
        </div>
        <div class="span4">
          <section class="box">
            <span class="icon featured-icon icon-comments-alt"></span>
            <h3>Consequat lorem</h3>
            <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
          </section>
        </div>
        <div class="span4">
          <section class="box">
            <span class="icon featured-icon icon-comments-alt"></span>
            <h3>Consequat lorem</h3>
            <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</article>

<article class="container" id="portfolio">
  <div class="row-fluid">
    <div class="span12">
      <h1 class="text-center">Portf&oacute;lio</h1>
      <h2  class="text-center">nd this is Miniport, a free, fully responsive HTML5 site template designed by</h2>
      <div class="row-fluid">
        <div class="span4">
          <section class="box">
            <img src="theme/img/daemonwatch.jpg" />
            <h3>Consequat lorem</h3>
            <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
          </section>
        </div>
        <div class="span4">
          <section class="box">
            <img src="theme/img/daemonwatch.jpg" />
            <h3>Consequat lorem</h3>
            <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
          </section>
        </div>
        <div class="span4">
          <section class="box">
            <img src="theme/img/redmine.jpg" />
            <h3>Consequat lorem</h3>
            <p>Ornare nulla proin odio consequat sapien vestibulum ipsum primis sed amet consequat lorem dolore.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</article>
{% endblock content %}
